<div>
  <div class="fs-6 text-end">
    <span id="departmentName">...</span>
    <span id="positionName">...</span>
    <span id="userName">...</span>님 반갑습니다.
  </div>
  <div class="fs-1 fw-bold"><%= title %></div>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-sm-4 text-center">
        <div class="fs-1 fw-bold"><span id="userRank">...</span></div>
        <div class="fs-6 fw-lighter">
          전체 <span id="userRankTotal">...</span>명
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="fs-1 fw-bold">
          <span id="userGrade">...</span>
        </div>
        <div class="fs-6 fw-lighter">
          상위 <span id="userGradePercentage">...</span>%
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="fs-1 fw-bold">
          <span id="userPointRecevie">...</span>
        </div>
        <div class="fs-6 fw-lighter">
          <span id="userPointAvailable">...</span> 포인트 사용 가능
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const userRank = 10;
  const userRankTotal = 30;
  const userGrade = "B";
  const userGradePercentage = 30;
  const userPointRecevie = 1000;
  const userPointAvailable = 3000;

  // 사용자 등급 정보를 가져오는 함수
  async function fetchUserRank() {
    try {
      const userId = window.localStorage.getItem("user_id");
      const userName = window.localStorage.getItem("user_name");
      const departmentCode = window.localStorage.getItem("department_code");
      const departmentName = window.localStorage.getItem("department_name");
      const positionCode = window.localStorage.getItem("position_code");
      const positionName = window.localStorage.getItem("position_name");

      // 사용자 현재 포인트 조회
      // const responsePoint = await fetch("/point/userId/" + userId);
      // if (!responsePoint.ok) {
      //   throw new Error("API 호출 실패");
      // }
      // const dataPoint = await responsePoint.json();

      // 부서 전채인원 조회
      const responseRank = await fetch("/user/rank/" + userId);
      if (!responseRank.ok) {
        throw new Error("API 호출 실패");
      }
      const dataRank = await responseRank.json();

      // DOM 업데이트
      document.getElementById("userName").textContent = userName;
      document.getElementById("departmentName").textContent = departmentName;
      document.getElementById("positionName").textContent = positionName;
      document.getElementById("userRank").textContent = dataRank.userRank;
      document.getElementById("userRankTotal").textContent = dataRank.userCount;
      document.getElementById("userGrade").textContent = dataRank.userGrade;
      document.getElementById("userGradePercentage").textContent =
        dataRank.userPercent;
      document.getElementById("userPointRecevie").textContent =
        dataRank.scorePoint;
      document.getElementById("userPointAvailable").textContent =
        dataRank.currentPoint;
    } catch (error) {
      console.error("에러:", error);
    }
  }

  // 새로고침 버튼 클릭 시 실행
  function refreshRank() {
    document.getElementById("userRank").textContent = "로딩 중...";
    fetchUserRank();
  }

  window.onload = function () {
    fetchUserRank();
  };
</script>
