<!DOCTYPE html>
<html>
  <head>
    <title><%= title %><</title>
  </head>
  <body>
    <div class="container pt-5">
      <div class="row align-items-start">
        <div class="col-sm-2">
          <div class="input-group">
            <select class="form-select" id="inputGroupSelect01">
              <option selected>전체</option>
              <option value="0000">전체</option>
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
            </select>
            <span class="input-group-text">년도</span>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <select class="form-select" id="inputGroupSelect01">
              <option selected>전체</option>
              <option value="0">전체</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <span class="input-group-text">분기</span>
          </div>
        </div>
        <div class="col-sm-2">
          <select class="form-select" id="inputGroupSelect01">
            <option selected>전체</option>
            <option value="0">전체</option>
            <option value="1">보내기</option>
            <option value="2">받기</option>
          </select>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-outline-secondary float-end"
            data-bs-toggle="modal"
            data-bs-target="#modalSendPoint"
          >
            포인트 보내기
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="modalSendPoint"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="modalSendPointLabel"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalSendPointLabel">
                    포인트 보내기
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3 row">
                      <label
                        for="modal-receive-user"
                        class="col-sm-2 col-form-label"
                        >받는사람</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="modal-receive-user"
                          placeholder="User ID"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label
                        for="modal-receive-point"
                        class="col-sm-2 col-form-label"
                        >포인트</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          id="modal-receive-point"
                          placeholder="Point"
                        />
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <label
                        for="modal-receive-type"
                        class="col-sm-2 col-form-label"
                        >내용</label
                      >
                      <div class="col-sm-10">
                        <select class="form-select" id="modal-receive-type">
                          <option selected>유형</option>
                          <option value="1">성과</option>
                          <option value="2">업무</option>
                          <option value="3">기타</option>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label
                        for="modal-receive-text"
                        class="col-sm-2 col-form-label"
                      ></label>
                      <div class="col-sm-10">
                        <textarea
                          class="form-control"
                          id="modal-receive-text"
                        ></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    취소
                  </button>
                  <button type="button" class="btn btn-primary">보내기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">일자</th>
              <th scope="col">구분</th>
              <th scope="col">상대방</th>
              <th scope="col">포인트</th>
              <th scope="col">사유</th>
              <th scope="col">회수</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td>2025-01-02</td>
              <td>보내기</td>
              <td>김메리</td>
              <td>50</td>
              <td>일을 열심히 하고 있습니다.</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>2025-03-12</td>
              <td>받기</td>
              <td>김팀장</td>
              <td>30</td>
              <td>불필요한 작업을 없앴습니다.</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>2025-05-33</td>
              <td>받기</td>
              <td>이사원</td>
              <td>50</td>
              <td>어려운 문제 해결에 도움을 주었습니다.</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

<script>
  function pointSend() {
    console.log("btn");
  }
</script>
