<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header><%- include('header') %></header>
    <section><%- body %></section>
    <footer><%- include('footer') %></footer>
  </body>
</html>
